# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.project
.directory

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The Flutter tool-build
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android related
**/android/app/key.properties
**/android/local.properties
**/android/app/local.properties
**/android/shared_local.properties
**/gradlew
**/gradlew.bat
**/gradle/wrapper/gradle-wrapper.properties
**/gradle/wrapper/gradle-wrapper.jar
.gradle/

# iOS/macOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/DerivedData/
**/macOS/Flutter/ephemeral/

# Coverage
coverage/

# Environment variables / secrets
.env
.env.local
.env.*.local
